<!DOCTYPE html>
<html>
	<head>
		<title>Blogify</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css">
		<link rel="stylesheet" href="stylesheets/landing.css">
		<script src="https://code.jquery.com/jquery-git2.min.js"></script>
		<div class="container">
 			<div class="row">
 				<div class="col-lg-12">
 					<div class="content">
 						<h1><i class="fab fa-blogger fa-lg"></i> Blogify</h1>
 						<h3>Your Favorite Blog.</h3>
 						<hr>
 						<a href="/blogs" class="btn btn-primary btn-lg">View All Blogs</a>
 					</div>
 				</div>
 			</div>
 		</div>
	</head>
 
 <script src="scripts/landing.js"></script>

<%- include("./partials/footer") %>